{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Ошибка 403{% endblock%}

{% block body_title %}Ошибка 403{% endblock %}

{% block body_content %}
    <h2>У вас нет прав доступа к даной странице.</h2>
    <h3><a href="{{ path('BloggerBlogBundle_homepage') }}">Вернуться на главную</a></h3>
{% endblock %}