<!-- ФОРМА -->
<form action="" class="navbar-form navbar-right" id="top-auth">
    <div class="form-group">
        <p id="nav-user-title">Привет, <b><i>{{ app.user.username }}</i></b></p>
    </div>

    <a href="{{ path('_security_logout') }}" class="btn btn-primary">
        <i class="fa fa-sign-out"></i> Выйти
    </a>
</form>